<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/suds.css">
 <link rel="stylesheet" href="/stylesheets/page.css">

  <!-- div style="width: 100%; height: 55px; background-color: #343a40" -->

  <title>SUDS Demonstration system</title>
</head>

<body>
  <div class="nav">
  <image src="/images/suds/tinylogo.png" style="float: left;   background-color: #f0f0f0;  ">
         <%- navbar %>
  </div>
  <div class="pages">


    <br clear="all">
    <h2 style="text-align: center;">
      <%- headline %>
    </h2>
    <%- body %>
  </div>


</body>

</html>