


.editorTitle1 {background-color: green}



.suds {
  margin-left : 50px;
  margin-top  : 50px;
  margin-right: 50px;
}
.pages {
  margin-left : 50px;
  margin-top  : 50px;
  width: 750px;
}
H1 {
  font-size    : 18pt;
  font-weight  : bold;
  margin-bottom: 30px;
}

H2 {
  font-size    : 16pt;
  font-weight  : bold;
  margin-bottom: 30px;
}

H3 {
  font-size  : 14pt;
  font-weight: bold;
}

hr {
  border    : none;
  border-top: 3px double #333;

}

A {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}



table .table-striped .table-bordered {
  width: 900px;
}



TD {
  vertical-align: top;
  padding-right : 40px;

}

TH {
  vertical-align: top;
  padding-right : 40px;
}

form {
  padding-top   : 10px;
  padding-bottom: 20px;
}



.nav {
  display: flex;
  align-items: center;
  position        : fixed;
  top             : 0;
  width           : 100%;
  background-color: #f0f0f0;
 }

 .sudsHeading {
   padding-left: 250px; 
  font-size: 1.4em;
  font-weight: bold;
 }


.autocomplete-container {
  position: absolute;
  width: 500px;
  white-space: nowrap;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


.autodelete {
  margin-left: 20px;
}


.sudserror {
  color      : red;
  margin-left: 20px;
}

.sudsmessage {
  color      :green;
  margin-left: 20px;
  clear: both;
}

.sudsSearch  {
  width: 150px;
}


.sudsPageHeading {
  padding-bottom: 20px;
}

.sudsHomeSection {
  width                : 270px;
  height               : 270px;
  margin-bottom        : 40px;
  margin-right         : 40px;
  border-color         : lightgray;
  padding              : 10px;
  float                : left;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -webkit-box-shadow   : 0 20px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow      : 0 20px 10px rgba(0, 0, 0, 0.2);
  box-shadow           : 10px 20px 10px rgba(0, 0, 0, 0.2);

}

.sudsHomeSearch {
  width : 150px;
  height: 30px;
}

.sudsHomeSectionHead {
  font-weight: bold;
}

.homeSectionImg {
  float       : left;
  margin-right: 10px
}

ul.homeSectionList {
  list-style-type: none;
}

.breakline {
  margin-top : 20px;
  font-weight: bold;
}

.sudsListTableLinks {
  margin-top: 20px;
  margin-bottom: 50px;
}

.sudschilddata {
  margin-top: 30px;
}

.sudschilddata>H1 {
  font-size  : medium;
  font-weight: normal;
}

.sudspretext {
  font-style: italic;
}
.sudsposttext {
  font-style: italic;
}
.sudstabs {
  margin-bottom: 20px;
}

.sudsEditLink>* {
  color: black;
}

.sudsAddChild {
  width: 100px;
}

.sudsFormTab {
  font-size   : medium;
  margin-right: 20px;

}

.sudsFormTabSelected {
  font-size  : medium;
  font-weight: bold;
}

.sudsParentData {
  margin-bottom        : 10px;
  border               : 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -webkit-box-shadow   : 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow           : 0 5px 10px rgba(0, 0, 0, 0.2);

}

.sudsbuttons {margin-bottom: 50px}

.sudsLogin {width: 500px}

.sudsFormGroup {
  width  : 900px;
  padding: 5px;
}

.sudsListRow {
  margin-top   : 30px;
  margin-bottom: 30px;
}


.sudsReport {
  width: 80%;
}


.sudsReportTable {
  margin-bottom: 40px;
}


#sudsReportTables>* {}

th {
  border-bottom: 2px solid rgb(194, 194, 194);
}

td {
  border: 1px solid rgb(214, 212, 212);
}

;

.form-control-layout {
  min-width: 0;
  width    : auto;
  display  : inline;
}



.courier {
  font-family: 'Courier New', monospace;
}

@media screen {
  .sudsreporthr {
    border-top: 1px dashed;
  }
}

@media print {
  .sudsreporthr {
    border          : 0px;
    page-break-after: always;
  }
}